<!DOCTYPE html>
<html>

<head>
    <title>Canavar Avı</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">
                    <img src="img/warior.jpg" width="188px" height="5%" alt="">
                </h1>
                <div class="healthbar">
                    <div :style="{ width : player_heal + '%'}" class="healthbar text-center"
                        style="background-color: green; margin: 0; color: white;">
                        {{ player_heal }}%
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">
                    <img src="img/monster.png" width="264px" height="5%" alt="">
                </h1>
                <div class="healthbar">
                    <div :style="{ width : player_heal + '%'}" class="healthbar text-center"
                        style="background-color: green; margin: 0; color: white;">
                        {{ monster_heal }}%
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!game_is_on">
            <div class="small-12 columns">
                <button id="start-game" @click="start_game">BATTLE!</button>
            </div>
        </section>
        <section class="row controls" v-if="game_is_on">
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="special_attack">SPECİAL ATTACK</button>
                <button id="heal" @click="heal_up">MASSİVE HEAL</button>
                <button id="give-up" @click="give_up">GİVE UP!</button>
            </div>
        </section>
        <section class="row log" v-if="game_is_on">
            <div class="small-12 columns">
                <ul>
                    <li :class="{ 'player-turn' : log.turn == 'p', 'monster-turn' : log.turn == 'm' }"
                        v-for="log in logs"> {{ log.text }}</li>
                </ul>
            </div>
        </section>
        <script src="app.js"></script>
    </div>
</body>

</html>